.page-section {
    position: relative;
    padding: 40px 80px 40px 0;
}

.page-section-with-bg::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 9999px;
    background-color: #f2f2f2;

}

.price-title{
    margin: 0;
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: 700;
}


.prices-text-wrapper p{
    margin: 0;
}

.prices-text-wrapper p:not(:last-child) {
    margin-bottom: 10px;
}

.prices-table {
    width: 100%; 
    margin-top: 30px;
    border-collapse: collapse;
}

.prices-table th{
    padding: 20px;
    background-color: #242424;
    font-weight: 700;
    color: #fff;
    text-align: left;
}

.prices-table td{
    padding: 20px;
    font-size: 16px;
}

.prices-table tr:nth-child(odd) td{
    background-color: #f2f2f2;
}

.prices-table th:first-child,
.prices-table td:first-child {
    border-radius: 15px 0 0 15px;
}

.prices-table th:last-child,
.prices-table td:last-child{
    border-radius: 0 15px 15px 0;
}

.prices-caption{
    margin-top: 10px;
    font-size: 14px;
    color: #9d9d9d;
}
